



		<!-- Slider
		============================================= -->
		<section id="cabecera" style="height: 50rem;">
			<h1 class="" style=" mix-blend-mode: overlay; color: rgba(255, 255, 255, 1); padding-top: 2em; padding-bottom: -100em; font-size: 139px; display: flex; align-items: center; justify-content: center; font-family: goodtime !important;">DEMPO</h1>
			<p class="" style=" margin-top:-2em; mix-blend-mode: overlay; color: rgba(255, 255, 255, 1);  font-size: 43px; display: flex; align-items: center; justify-content: center; font-family: goodtime !important;">DIGITAL EMPOWERMENT</p>
		</section>

		<!-- Content
		============================================= -->
		<section id="content" style="background-color: transparent;">

			<div id="quienessomos" class="content-wrap pb-0" style="z-index: 1; transform: scale(0.9);">

				<div class="container topmargin clearfix">

					<!-- What We Do
					============================================= -->
					<div  class="heading-block center border-0" style="text-shadow: 3px 3px 6px black;">
						<div class="contenedor">
							<img style="width: 11%; opacity: 0.59;" src="assets/titulobackground.png">
							<h3  class="texto-encima centrado" style="font-size: 64px;">
								¿QUIÉNES SOMOS?</h3>			
						  </div>
						
					</div>
					<div class="row clearfix">
						<div class="center col-lg-10 offset-lg-1 bottommargin">
							<h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500" style="font-size: 45px;">Somos especialistas en el diseño y desarrollo de plataformas que faciliten el camino hacia la digitalización
								<br>
								<span class="t-rotate" style="color: rgba(0, 239, 255, 1) !important;">GIS, Web App, Web Mapping, Mobile, QGIS, Consultoría, Control de Calidad, Eficiencia Energética </span><br> </h3>
							 <div class="row" style="margin-left: -10em; margin-right: -10em;">
								<div class="col-lg-4 col-sm-12 p-3" >
									<div class="feature-box media-box fbox-bg" style="width:100%; padding: 2rem ;">
										<div class="fbox-media card1">
											<a href="#"><img src="assets/Media/1.jpg" alt="Featured Box Image"></a>
										</div>
										<div class="fbox-content fbox-content-lg" style="background-color: transparent; padding-top:6vh ;">
											<h3 class="textcardstitle" style=" text-shadow: 3px 3px 6px black; color: white; font-size: 46px; font-weight: 900; letter-spacing:0.1vh;" class="nott  center">Misión</h3>
											<h2 class="textcards" style="color: white; font-size: 25px; font-weight:1; line-height: 40px;     display: block;
											margin: 20px 0px 0px 0px;
											color: white;
											text-transform: none;"  >
												Como especialistas en tecnología GIS,
												guiamos a nuestros clientes hacia el 
												futuro digital, optimizando sus procesos
												y creando plataformas de gestión
												innovadoras, para brindarles una
												<strong>ventaja competitiva.</strong></h2>
										</div>
									</div>
								</div>
		
								<div class="col-lg-4 col-sm-12" >
									<div class="feature-box media-box fbox-bg" style="width:100%; padding: 2rem ;">
										<div class="fbox-media card2 ">
											<a href="#"><img src="assets/Media/2.jpg" alt="Featured Box Image"></a>
										</div>
										<div class="fbox-content fbox-content-lg" style="background-color: transparent; padding-top:6vh ;">
											<h3 style=" text-shadow: 3px 3px 6px black; color: white; font-size: 46px; font-weight: 900; letter-spacing:0.1vh;" class="nott  center">Visión</h3>

											<h2 class="textcards" style="color: white; font-size: 25px; font-weight:1; line-height: 40px;     display: block;
											margin: 20px 0px 0px 0px;
											color: white;
											text-transform: none;"  >
											 Hacemos que el acceso a la información sea <strong>sencillo</strong>,<strong>rápido</strong> y <strong>geolocalizado</strong>.
											</h2>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div class="feature-box media-box fbox-bg" style="width: 100%; padding: 2rem;">
										<div class="fbox-media card3">
											<a href="#"><img src="assets/Media/3.jpg" alt="Featured Box Image"></a>
										</div>
										<div class="fbox-content fbox-content-lg" style="background-color: transparent; padding-top:6vh ;">
											<h3 style=" text-shadow: 3px 3px 6px black; color: white; font-size: 46px; font-weight: 900; letter-spacing:0.1vh;" class="nott  center">Valores</h3>
											<h2 class="textcards" style="color: white; font-size: 25px; font-weight:1; line-height: 40px;     display: block;
											margin: 20px 0px 0px 0px;
											color: white;
											text-transform: none;"  >
												<strong>Personas entusiastas</strong> en un entorno
												<strong>colaborativo y divertido</strong>.
												<strong>Pragmáticos y fiables</strong> en nuestras propuestas.
												<strong>Orientados a metas</strong>.
												<strong>Éxitos compartidos y celebrados</strong>.
												<strong>Integridad</strong> (No todo vale).</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
				
					</div>
				</div>
			</div>													
			<!-- About Us
			============================================= -->
			<div id="desarrollo" class="content-wrap pb-0" style="z-index: 1; transform: scale(0.8); bottom: 300px;">

				<div class="container  clearfix">

					<!-- What We Do
					============================================= -->
					<div  class="heading-block center border-0" style="text-shadow: 3px 3px 6px black; padding-bottom: 5rem;">
						<div class="contenedor">
						<img style="width: 11%; opacity: 0.59;" src="assets/titulobackground.png">
						<h3  class="texto-encima centrado" style="font-size: 64px;">
							¿QUÉ HACEMOS?</h3>			
						</div>
					</div>
					<div class="tarjeta" style="background-color: rgba(0, 0, 0, 0.35); height: auto; width: auto; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
						<div class="row" style="background-color: rgba(0, 0, 0, 0.35);">
								<div class="quehacemostext col-lg-6 col-sm-12 col-md-6" style="width: 50%; display: flex; align-items: center; justify-content: center; padding: 4em;">
									<p class="quehacemostext" style="text-align:right ; font-size: 20px; font-weight:1; line-height: 30px;     
										color: white;">
										Contamos con la estructura y la experiencia necesarias para el desarrollo de plataformas de gestión en la nube para el análisis de BigData y sistemas de información geográfica
										(GIS).
								</p>
								
								</div>
								<div class="" style="width: 50%;">
									<img src="assets/Media/4.jpg" style=" width: 102.43%;
									height: auto;">
								
								</div>
						</div>
					</div>

					<div class="tarjeta" style="background-color: rgba(0, 0, 0, 0.35); height: auto; width: auto; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
						<div class="row" style="background-color: rgba(0, 0, 0, 0.35);">
								
								<div class="" style="width: 50%;">
									<img src="assets/Media/5.jpg" style=" width: 102.43%;
									height: auto;">
								
								</div>
								<div class="quehacemostext col-lg-6  col-sm-12" style="width: 50%; display: flex; align-items: center; justify-content: center; padding: 4rem;">
									<p class="quehacemostext" style="text-align:left ; font-size: 20px; font-weight:1; line-height: 30px;     
										color: white;">
										Por ello, contamos con desarrolladores que se encargarán de programar según las necesidades de nuestros clientes, así como realizar las labores de mantenimiento posterior, formación o cambios necesarios en las plataformas de nuestros clientes, debidos a mejoras o evolución de sus necesidades.
								</p>
								
								</div>
						</div>
					</div>
					<div class="tarjeta" style="background-color: rgba(0, 0, 0, 0.35); height: auto; width: auto; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
						<div class="row" style="background-color: rgba(0, 0, 0, 0.35);">
								<div class="quehacemostext col-lg-6  col-sm-12" style="width: 50%; display: flex; align-items: center; justify-content: center; padding: 4rem;">
									<p class="quehacemostext" style="text-align:right ; font-size: 20px; font-weight:1; line-height: 30px;     
										color: white;">
										Utilizamos los frameworks de desarrollo más novedosos y metodología agiles de trabajo que permiten que el desarrollo sea fluido y el cliente esté inmerso en todo el proceso. Por todo ello, nos gusta ver a nuestras plataformas como “seres vivos” en constante evolución para conseguir así que sean lo más útiles para nuestros clientes.
								</p>
								
								</div>
								<div class="" style="width:50%;">
									<img src="assets/Media/6.jpg" style=" width: 102.43%;
									height: auto;">
								
								</div>
						</div>
					</div>

					<!--MOBILE VERSION WITH CARDS-->
					<div class="row">
						<div class="col-sm-12 col-md-6 bottommargin-sm tarjeta-mobile">
							<div class="feature-box fbox-bg bordered-box ">
								<div class="fbox-media borde">
									<a href="#"><img  src="assets/Media/4.jpg"  class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg" style=" background-color: rgba(0, 0, 0, 0.65);" >
									<h3 class="productos-text">
										Contamos con la estructura y la experiencia necesarias para el desarrollo de plataformas de gestión en la nube para el análisis de BigData y sistemas de información geográfica
										(GIS).</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6  bottommargin-sm tarjeta-mobile">
							<div class="feature-box fbox-bg bordered-box ">
								<div class="fbox-media borde">
									<a href="#"><img  src="assets/Media/5.jpg"  class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg" style=" background-color: rgba(0, 0, 0, 0.65);" >
									<h3 class="productos-text">
										Por ello, contamos con desarrolladores que se encargarán de programar según las necesidades de nuestros clientes, así como realizar las labores de mantenimiento posterior, formación o cambios necesarios en las plataformas de nuestros clientes, debidos a mejoras o evolución de sus necesidades.</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 bottommargin-sm tarjeta-mobile">
							<div class="feature-box fbox-bg bordered-box ">
								<div class="fbox-media borde">
									<a href="#"><img  src="assets/Media/6.jpg"  class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg" style=" background-color: rgba(0, 0, 0, 0.65);" >
									
									<h3 class="productos-text">Utilizamos los frameworks de desarrollo más novedosos y metodología agiles de trabajo que permiten que el desarrollo sea fluido y el cliente esté inmerso en todo el proceso. Por todo ello, nos gusta ver a nuestras plataformas como “seres vivos” en constante evolución para conseguir así que sean lo más útiles para nuestros clientes.
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="productos" class="content-wrap pb-0" style="z-index: 1;  transform: scale(1);  bottom: 400px;">

				<div class="container topmargin clearfix">

					<!-- What We Do
					============================================= -->
					<div  class="heading-block center border-0" style="text-shadow: 3px 3px 6px black;">
						<div class="contenedor">
							<img style="width: 11%; opacity: 0.59;" src="assets/titulobackground.png">
							<h3  class="texto-encima texto-encimap centrado" style="font-size: 64px;">
								PRODUCTOS Y SERVICIOS</h3>			
							</div>
					</div>
			
					<!-- Features colomns
					============================================= -->
					<div  class="heading-block center border-0" style="padding-top: 5rem;" >								
						<h2 class=" productos-subs1">ADMINISTRACIÓN PÚBLICA</h2>
					
					<div class="row clearfix productos-cards" >
						
						<div class="col-lg-6 bottommargin-sm productos-padding">
							
							<div class="feature-box fbox-bg bordered-box productos-card" >
								<div class="fbox-media borde">
									<a href="#"><img  src="assets/Media/7.jpg"  class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg" >
									<h3 class="productos-title">
									Plataforma para la gestión de contratos
										de mantenimiento de instalaciones</h3>
									<h3 class="productos-text">Es una plataforma muy útil y que nos ha permitido tener experiencia con la gestión de incidencias entre distintos agentes, creación y resolución de “tickets”, etc. tiene una gran aceptación por los clientes que la usan y un proceso de implantación rápido y sencillo.</h3>
								</div>
							</div>
						</div>

						<div class="col-lg-6 bottommargin-sm productos-padding">
							<div class="feature-box  fbox-bg bordered-box productos-card">
								<div class="fbox-media borde">
									<a href="#"><img src="assets/Media/8.jpg" class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg">
									<h3 class="productos-title">
										Plataforma Ciudadana</h3>
									<h3 class="productos-text">Es una plataforma que pretende poner en contacto y acercar a los vecinos de municipios pequeños y medianos, a los servicios públicos y sus gestores, dando voz a sus preocupaciones y aspiraciones respecto a los servicios que el Ayuntamiento les ofrece, pretendemos con ello, fomentar una relación sana y transparente entre los vecinos y su municipio.</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-6 bottommargin-sm productos-padding">
							<div  class="heading-block center border-0">
								<h2 class="productos-subs">INVESTIGACIÓN</h2>
							</div>

							<div class="feature-box  fbox-bg bordered-box productos-card">
								<div class="fbox-media borde">
									<a href="#"><img src="assets/Media/9.jpg" class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg">
									<h3 class="productos-title">
										Investigadores</h3>
									<h3 class="productos-text">Desarrollamos una serie de soluciones enfocadas al mundo de la investigación, estas pretenden tener una rápida implantación y gran dinamismo, para poder adaptarse rápidamente a las necesidades de sus usuarios, facilitando los proyectos a los que da servicio y provocando grandes beneficios y capacidades a nuestros clientes.</h3>									</div>
							</div>
						</div>
						<div class="col-lg-6 bottommargin-sm productos-padding">
							<div  class="heading-block center border-0">
								<h2 class="productos-subs">AGRICULTURA</h2>
							</div>

							<div class="feature-box  fbox-bg bordered-box productos-card">
								<div class="fbox-media borde">
									<a href="#"><img src="assets/Media/10.jpg" class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg">
									<h3 class="productos-title">
										Soluciones para la Agricultura</h3>
									<h3 class="productos-text">Estamos en pleno proceso de investigación en colaboración con empresas del sector de la agricultura, para el desarrollo de soluciones que sean de utilidad para la digitalización del sector en los próximos años.</h3>									</div>
							</div>
						</div>
						
						<div class="col-lg-6 bottommargin-sm productos-padding">
							<div  class="heading-block center border-0">
								<h2 class="productos-subs">INDUSTRIA</h2>
							</div>
							<div class="feature-box  fbox-bg bordered-box productos-card">
								<div class="fbox-media borde">
									<a href="#"><img src="assets/Media/11.jpg" class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg">
									<h3 class="productos-title">
										Soluciones Industriales</h3>
									<h3 class="productos-text">Desarrollamos una serie de soluciones enfocadas al mundo de la investigación, estas pretenden tener una rápida implantación y gran dinamismo, para poder adaptarse rápidamente a las necesidades de sus usuarios, facilitando los proyectos a los que da servicio y provocando grandes beneficios y capacidades a nuestros clientes.</h3>									</div>
							</div>
						</div>
						<div class="col-lg-6 bottommargin-sm productos-padding">
							<div  class="heading-block center border-0">
								<h2 class="productos-subs">MEDIO AMBIENTE</h2>
							</div>
							<div class="feature-box fbox-bg bordered-box productos-card">
								<div class="fbox-media borde">
									<a href="#"><img src="assets/Media/12.jpg" class="productos-img" alt="Featured Box Image"></a>
								</div>
								<div class="fbox-content fbox-content-lg">
									<h3 class="productos-title">
										Soluciones Medioambientales</h3>
									<h3 class="productos-text">Analísis de banco de datos medioambientales para estadísticas, porcentages, evaluaciones y plataformas de trabajo in situ para los diferentes dispositivos con sistemas de información geográfica y almacenamiento en nube de datos en campo.</h3>									</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>



			<!-- How We Work
			============================================= -->
			<div id="casosdeexito" class="section bg-transparent clearfix" style=" bottom: 600px;">
				<div class="container clearfix">
					<div class="heading-block bottommargin-lg center border-0" style="text-shadow: 3px 3px 6px black;">
						<div class="contenedor">
							<img style="width: 11%; opacity: 0.59;" src="assets/titulobackground.png">
							<h3  class="texto-encima centrado" style="font-size: 64px;">
								CASOS DE ÉXITO</h3>			
							</div>
					</div>
				</div>


				<!-- How We Work - Carousel
					============================================= -->
					<div id="oc-features" class="casoscarousel owl-carousel owl-carousel-full image-carousel carousel-widget customjs">
						<div class="oc-item" >
							<div class="row cleafix">
								<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  3rem 0rem 3rem 0rem;">
									<img style="border-top: 2px solid white !important; border-left: 2px solid white !important; border-bottom: 2px solid white !important; border-radius: 20px 0px 0px 20px;" src="assets/Media/13.png" alt="Image">
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
									<h3 class="casos-title1">WebGIS</h3>
									<h3 class="casos-title2">Plataforma</h3>
									<p class="casos-text">Es una plataforma que actualmente está dando servicio a 40 instalaciones de alumbrado público, en fase previa o posterior a la contratación, dando información del inventariado GIS y gestión de mantenimiento y comunicación entre el cliente (Ayuntamiento o mantenedora) y sus subcontratas. Este proyecto está siendo muy bien acogido por los clientes que aprecian su gran utilidad, por lo que se espera que siga esarrollándose para aumentar las utilidades y soluciones que ya aporta a los contratos.</p>
									<h3 class="casos-title2">Read More+</h3>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="row cleafix" style="text-align: right;">
								
								<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
									<h3 class="casos-title1">Analizar / Auditar contratos
										de suministros electricos</h3>
									<h3 class="casos-title2">Desarrollo de herramienta</h3>
									<p class="casos-text">Se trata de una herramienta de escritorio, para la introducción de datos de consumo procedentes de facturas de suministro, esta herramienta, además de archivar los datos introducidos en su base de datos, analiza los mismos aportando informes de consumo, gráficas, y datos útiles para el análisis y toma de decisiones acerca de las medidas de eficiencia energética, especialmente en grandes instalaciones donde interviene un gran número de contratos de suministro y requieren de un análisis global (visión de conjunto).</p>
									<h3 class="casos-title2">Read More+</h3>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  6rem 0rem 6rem 0rem;">
									<img style="border-top: 2px solid white !important; border-right: 2px solid white !important; border-bottom: 2px solid white !important; border-radius: 0px 20px 20px 0px;" src="assets/Media/14.jpg" alt="Image">
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  6rem 0rem 6rem 0rem;">
									<img style="border-top: 2px solid white !important; border-left: 2px solid white !important; border-bottom: 2px solid white !important; border-radius: 20px 0px 0px 20px;" src="assets/Media/15.jpg" alt="Image">
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
									<h3 class="casos-title1">Desarrollo de solución para 
										cuaderno de campo en 
										proyectos de investigación</h3>
									<h3 class="casos-title2">Desarrollo de app</h3>
									<p class="casos-text">Proyecto Urracas es un proyecto en el que se desarrolla una app para inventariado y gestión de datos en campo, basado en cartografía para uso de grupos de investigación de diferentes universidades, este proyecto, se encuentra en servicio y con una gran aceptación en el sector, por lo que se espera un crecimiento sostenido en los próximos años.</p>
									<h3 class="casos-title2">Read More+</h3>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="row cleafix" style="text-align: right;">
								
								<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
									<h3 class="casos-title1">Inventariado de 
										223.000 puntos</h3>
									<h3 class="casos-title2">Trabajo de campo</h3>
									<p class="casos-text">Trabajos de campo para análisis e inventariado GIS de instalaciones, en los que hemos ejecutado proyectos con 30.000 puntos posicionados y una suma total de: 223.000.</p>
									<h3 class="casos-title2">Read More+</h3>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  3rem 0rem 3rem 0rem;">
									<img style="border-top: 2px solid white !important; border-right: 2px solid white !important; border-bottom: 2px solid white !important; border-radius: 0px 20px 20px 0px;" src="assets/Media/16.jpg" alt="Image">
								</div>
							</div>
						</div>
						
						<div class="oc-item">
							<div class="row cleafix">
								<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  3rem 0rem 3rem 0rem;">
									<img style="border-top: 2px solid white !important; border-left: 2px solid white !important; border-bottom: 2px solid white !important; border-radius: 20px 0px 0px 20px;" src="assets/Media/17.jpg" alt="Image">
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
									<h3 class="casos-title1">Análisis y tratamiento de datos</h3>
									<h3 class="casos-title2">Desarrollo de la documentación</h3>
									<p class="casos-text">Análisis de datos de inventarios GIS para identificación de necesidades y preparación de documentación necesaria para redacción de memorias de ayudas europeas, proyecto con mayor número de elementos analizados  78.134 elementos.</p>
									<h3 class="casos-title2">Read More+</h3>
								</div>
							</div>
						</div>	
					</div>

			
				<!--CASOSMOBILE-->


				<div id="" class="casoscarousel-mobile">
					<div class="" >
						<div class="row cleafix" style="padding:  1rem 2rem 1rem 2rem;">
							<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  1rem 0rem 0.5rem 0rem;">
								<img style="border: 1px solid white !important; border-radius: 20px 20px 20px 20px;" src="assets/Media/13.png" alt="Image">
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
								<h3 class="casos-title1">WebGIS</h3>
								<h3 class="casos-title2">Plataforma</h3>
								<p class="casos-text" style="color: white;">Es una plataforma que actualmente está dando servicio a 40 instalaciones de alumbrado público, en fase previa o posterior a la contratación, dando información del inventariado GIS y gestión de mantenimiento y comunicación entre el cliente (Ayuntamiento o mantenedora) y sus subcontratas. Este proyecto está siendo muy bien acogido por los clientes que aprecian su gran utilidad, por lo que se espera que siga esarrollándose para aumentar las utilidades y soluciones que ya aporta a los contratos.</p>
								<h3 class="casos-title3">Read More+</h3>
							</div>
						</div>
					</div>
					<div class="">
						<div class="row cleafix" style="padding:  1rem 2rem 1rem 2rem;">
							<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  1rem 0rem 0.5rem 0rem;">
								<img style="border: 1px solid white !important; border-radius: 20px 20px 20px 20px;" src="assets/Media/14.jpg" alt="Image">
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
								<h3 class="casos-title1">Analizar / Auditar contratos
									de suministros electricos</h3>
								<h3 class="casos-title2">Desarrollo de herramienta</h3>
								<p class="casos-text" style="color: white;">Se trata de una herramienta de escritorio, para la introducción de datos de consumo procedentes de facturas de suministro, esta herramienta, además de archivar los datos introducidos en su base de datos, analiza los mismos aportando informes de consumo, gráficas, y datos útiles para el análisis y toma de decisiones acerca de las medidas de eficiencia energética, especialmente en grandes instalaciones donde interviene un gran número de contratos de suministro y requieren de un análisis global (visión de conjunto).</p>
								<h3 class="casos-title3">Read More+</h3>
							</div>
							
						</div>
					</div>
					<div class="">
						<div class="row cleafix" style="padding:  1rem 2rem 1rem 2rem;">
							<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  1rem 0rem 0.5rem 0rem;">
								<img style="border: 1px solid white !important; border-radius: 20px 20px 20px 20px;" src="assets/Media/15.jpg" alt="Image">
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
								<h3 class="casos-title1">Desarrollo de solución para 
									cuaderno de campo en 
									proyectos de investigación</h3>
								<h3 class="casos-title2">Desarrollo de app</h3>
								<p class="casos-text" style="color: white;">Proyecto Urracas es un proyecto en el que se desarrolla una app para inventariado y gestión de datos en campo, basado en cartografía para uso de grupos de investigación de diferentes universidades, este proyecto, se encuentra en servicio y con una gran aceptación en el sector, por lo que se espera un crecimiento sostenido en los próximos años.</p>
								<h3 class="casos-title3">Read More+</h3>
							</div>
						</div>
					</div>
					<div class="">
						<div class="row cleafix" style="padding:  1rem 2rem 1rem 2rem;">
							<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  1rem 0rem 0.5rem 0rem;">
								<img style="border: 1px solid white !important; border-radius: 20px 20px 20px 20px;" src="assets/Media/16.jpg" alt="Image">
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
								<h3 class="casos-title1">Inventariado de 
									223.000 puntos</h3>
								<h3 class="casos-title2">Trabajo de campo</h3>
								<p class="casos-text" style="color: white;">Trabajos de campo para análisis e inventariado GIS de instalaciones, en los que hemos ejecutado proyectos con 30.000 puntos posicionados y una suma total de: 223.000.</p>
								<h3 class="casos-title3">Read More+</h3>
							</div>
							
						</div>
					</div>
					
					<div class="">
						<div class="row cleafix" style="padding:  1rem 2rem 1rem 2rem;">
							<div class="col-lg-6 col-md-12 col-sm-12" style="padding:  1rem 0rem 0.5rem 0rem;">
								<img style="border: 1px solid white !important; border-radius: 20px 20px 20px 20px;" src="assets/Media/17.jpg" alt="Image">
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 casos-content" >
								<h3 class="casos-title1">Análisis y tratamiento de datos</h3>
								<h3 class="casos-title2">Desarrollo de la documentación</h3>
								<p class="casos-text" style="color: white;">Análisis de datos de inventarios GIS para identificación de necesidades y preparación de documentación necesaria para redacción de memorias de ayudas europeas, proyecto con mayor número de elementos analizados  78.134 elementos.</p>
								<h3 class="casos-title3">Read More+</h3>
							</div>
						</div>
					</div>			
				</div>


			</div>

			<!-- Contact
						============================================= -->

			<div id="contacto" class="content-wrap" style="bottom: 600px;">
				<div class="container clearfix">
					<div class="heading-block bottommargin-lg center border-0" style="text-shadow: 3px 3px 6px black;">
						<div class="contenedor">
							<img style="width: 11%; opacity: 0.59;" src="assets/titulobackground.png">
							<h3  class="texto-encima centrado" style="font-size: 64px; width: 100%;">
								CONTACTO</h3>			
							</div>
					</div>
				</div>
				<div class="container clearfix">

					<div class="row align-items-stretch col-mb-50 mb-0">
						<!-- Contact Form
						============================================= -->
						<div class="col-2"></div>
						<div class="col-6">




									<form class="contactForm"
									id="contactForm"
									[formGroup]="contactForm"
									(ngSubmit)="send()">
									<div class="">
											<div class="css3-spinner">
												<div class="css3-spinner-scaler"></div>
											</div>
										</div>
	
										<div class="row" >
											<div class="col-sm-12 col-md-12 col-lg-12">
												<p class="form-title">Nombre y Apellidos:</p>
												<input class="required form-input"  formControlName="nombre" type="text" value="">
											</div>
	
	
											<div class="col-sm-12 col-md-12 col-lg-12 ">
												<p class="form-title">E-mail:</p>
												<input class="required form-input" formControlName="email" type="text"value="" >
											</div>
										</div>
	
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<p class="form-title">Teléfono:</p>
												<input class="required form-input"  formControlName="tlfno" type="text" value="">
											</div>
	
	
											<div class="col-sm-12 col-md-12 col-lg-12">
												<p class="form-title">Empresa:</p>
												<input class="required form-input" formControlName="empresa" type="text"value="">
											</div>
										</div>
										
										<div class="row">

											<div class="w-100"></div>
	
											<div class="col-12 col-md-12 form-group">
												<p class="form-title">Mensaje:</p>
												<textarea formControlName="msg" class="required  form-input-msg"></textarea>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-12">
											
												<button  type="submit" tabindex="5" class="form-btn" >Enviar</button>
											</div>
											
										</div>

	
										<div style="padding-left: 3.83rem;">
											<div class="col-12 form-group d-none center" style="text-align: center;">
												<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" >
											</div>
											<div style="padding-top: 3rem; padding-left: 12rem;">
	
												<script src="https://www.google.com/recaptcha/api.js" async defer></script>
												<div class="g-recaptcha" data-sitekey="6LfijgUTAAAAACPt-XfRbQszAKAJY0yZDjjhMUQT" style="display: flex; align-items: center; justify-content: center;"></div>
	
											</div>
										</div>
											
										
	
										<input type="hidden" name="prefix" value="template-contactform-">
	
									</form>

						</div><!-- Contact Form End -->

						
					</div>

				
				</div>
			</div>
	</section><!-- #content end -->
				
				
				




		<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0" style="padding: 30px 0;  background-color:rgb(255, 255, 255,1);">
			<div class="container clearfix">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50">
						<div class="col-md-3">
							<img src="assets/demponegro2.png" alt="Image" height="100" style="margin-top: -30px">
						</div>

						<div class="col-md-9">

							<div class="row col-mb-30">
								<div class="col-sm-6 col-lg-3">
									<div class="widget widget_links widget-li-noicon clearfix">
										<h4>Hire</h4>
										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="widget widget_links widget-li-noicon clearfix">
										<h4>Community</h4>
										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="widget widget_links widget-li-noicon clearfix">
										<h4>Learn</h4>
										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="widget widget_links widget-li-noicon clearfix">
										<h4>About</h4>
										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
											<li><a href="#">Themes</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="line line-sm"></div>

							<div class="row justify-content-between col-mb-30">
								<div class="col-12 col-md-auto text-center text-md-left">
									<small class="font-weight-light" style="color: #AAA">Copyrights &copy; 2020 All Rights Reserved by Canvas Inc.</small>
								</div>

								<div class="col-12 col-md-auto text-center text-md-right">
									<a href="#" class="social-icon inline-block si-mini si-rounded si-colored si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>

									<a href="#" class="social-icon inline-block si-mini si-rounded si-colored si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>

									<a href="#" class="social-icon inline-block si-mini si-rounded si-colored si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>

									<a href="#" class="social-icon inline-block si-mini si-rounded si-colored si-pinterest">
										<i class="icon-pinterest"></i>
										<i class="icon-pinterest"></i>
									</a>

									<a href="#" class="social-icon inline-block si-mini si-rounded si-colored si-vimeo">
										<i class="icon-vimeo"></i>
										<i class="icon-vimeo"></i>
									</a>

									<a href="#" class="social-icon inline-block si-mini si-rounded si-colored si-instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</footer><!-- #footer end -->




