/* You can add global styles to this file, and also import other style files */
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: goodtime;
    src: url(assets/Font/GOODTIME.ttf) format("opentype");
  }